.carossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1rem 0 0.5rem 0;
}

.swiper-slide img {
    width: 100%;

}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

@media screen and (min-width:1024px) {
    .carossel__titulo {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2rem 0 3rem 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 60%;
    }
}

@media screen and (min-width:1728px) {
    .carossel__container {
        display: flex;
        margin: 0 20vw 3rem 20vw;
        align-items: center;
    }

    .swiper-pagination {
        margin: 1rem 0;
    }

    .swiper {
        width: 50%;
    }

    .descricao__titulo {
        font-size: 32px;
    }

    .descricao__texto {
        font-size: 1rem;
    }

    .descricao {
        margin-right: 2rem;
    }
}